<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melody</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
<<<<<<< HEAD
    <header>
      <div class="container">
        <div class="logo">
          <img src="img/logo/QUICENO-LOGO-2.png" alt="logo_melody" />
        </div>
      </div>
      <div class="nav">
        <a href="">Percusión</a>
        <a href="">Pianos y Teclas</a>
        <a href="">Cuerdas</a>
        <a href="">Vientos</a>
        <a href="">Music Gear</a>
      </div>
    </header>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <section>
      <main class="login">
        <form action="/" method="POST">
          <input type="text" name="user" placeholder="Nombre de usuario" />
          <input
            type="password"
            name="pass"
            placeholder="Elegí tu contraseña"
          />
          <input type="submit" value="Enviar" />
        </form>
      </main>
    </section>
    <footer>
      <h2>&copy; Copyright Reserved.</h2>
    </footer>
  </body>
</html>
=======
    <%- include('./partials/header')%>
    <div class="content"></div>
    <div class="content"></div>
        <section>
            <div>
            <h1>Login</h1>
        </section>
            </div>
            <div><%- include('./partials/footer')%> </div>
  </body>
</html>
>>>>>>> 7eee1e283494a8b3b34f568f2dee5cdac94a492c
