<!DOCTYPE html>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melody</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/productCart.css" />
  </head>
  <body>
    <%- include('./partials/header')%>
    <div class="content"></div>
    <div class="content"></div>
    <div class="space"></div>
        <section>
            <div class="tleft">
            <h2>Producto</h2>
            <h2>Cantidad</h2>
            <h2>Total</h2>
            </div>
            <div class="tright">
            <h1>Total de la orden</h1>
           </div>
           </section>
           <section>
            <div class="imleft">
            <div> <img src="/img/vientos/clarinete.png" alt="Clarinete"></div>
            <div class="cent"><i class="fa-solid fa-minus"></i>
              <p>2</p>
            <i class="fa-solid fa-plus"></i></div>
            <div>USD 500</div>
            </div>
            <div class="tright">
            <h3>USD 500</h3>
           </div>
           </section>
          
    <div class="space"></div>
    <%- include('./partials/footer')%> </div>
  </body>
</html>