<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melody</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="img/logo/QUICENO-LOGO-2.png" alt="logo_melody" />
        </div>
      </div>
      <div class="nav">
        <a href="">Percusión</a>
        <a href="">Pianos y Teclas</a>
        <a href="">Cuerdas</a>
        <a href="">Vientos</a>
        <a href="">Music Gear</a>
      </div>
    </header>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <section>
      <main class="register">
        <form action="/" method="POST">
          <input type="text" name="name" placeholder="Nombre y apellido" />
          <input type="text" name="user" placeholder="Nombre de usuario" />
          <input type="email" name="email" placeholder="E-mail" />
          <br />
          <label for="birth_date"><b>Fecha de nacimiento</b></label>
          <br />
          <input type="date" name="birth_date" id="birth_date" />
          <br />
          <input type="text" name="addres" placeholder="Domicilio" />
          <h4>Perfil del usuario</h4>
          <div class="profile">
            <input type="radio" name="profile" value="buy" id="buy" />
            <label for="buy">Comprador</label>
            <input type="radio" name="profile" value="sell" id="sell" />
            <label for="sell">Vendedor</label>
          </div>

          <h4>Intereses</h4>
          <div class="interests">
            <div>
              <input type="checkbox" name="interests" value="a" id="a" />
              <label for="a">Electro</label>
            </div>
            <div>
              <input type="checkbox" name="interests" value="b" id="b" />
              <label for="b">Moda</label>
            </div>
            <div>
              <input type="checkbox" name="interests" value="c" id="c" />
              <label for="c">Hogar</label>
            </div>
            <div>
              <input type="checkbox" name="interests" value="d" id="d" />
              <label for="d">Juguetería</label>
            </div>
            <div>
              <input type="checkbox" name="interests" value="e" id="e" />
              <label for="e">Vida sana</label>
            </div>
          </div>

          <h4>Elegí tu foto de usuario</h4>
          <input type="file" name="avatar" />
          <br />
          <br />
          <input
            type="password"
            name="pass"
            placeholder="Elegí tu contraseña"
          />
          <input
            type="password"
            name="pass_confirm"
            placeholder="Confirmá tu contraseña"
          />
          <br />
          <br />
          <input type="submit" value="Enviar" />
          <input type="reset" value="Borrar" />
          <br />
          <br />
        </form>
      </main>
    </section>
    <footer>
      <h2>&copy; Copyright Reserved.</h2>
    </footer>
  </body>
</html>
