<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet" />
<footer>
  <div class="foot">
  <div class="c1">
  <h3>Acerca de</h3>
  <ul>
    <li><a href="">Melody como empresa</a></li>
    <li><a href="">Trabaja con nosotros</a></li>
    <li><a href="">Términos y condiciones</a></li>
  </ul>
</div>
  <div class="c2">
  <h3>Ayuda/PQR</h3>
  <ul>
    <li><a href="">Comprar</a></li>
    <li><a href="">Resolución de problemas</a></li>
    <li><a href="">Centro de seguridad</a></li>
  </ul>
</div>

  <div class="c3">
  <h3>Mi cuenta</h3>
  <ul>
    <li><a href="">Resumen</a></li>
    <li><a href="">Favoritos</a></li>
  </ul>
  </div>
</div>
<div class="space"></div>
<div class="iconf">
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-whatsapp-square"></i>
  <i class="fa-brands fa-instagram-square"></i>
</div>
<div class="space"></div>
    <h4>&copy; Copyright Reserved.</h4>
  </footer>