<header>
    <div class="container">
      <div class="logo">
        <img src="img/logo/QUICENO-LOGO-2.png" alt="logo_melody" />
      </div>
    </div>
    <div class="nav">
      <a href="">Percusión</a>
      <a href="">Pianos y Teclas</a>
      <a href="">Cuerdas</a>
      <a href="">Vientos</a>
      <a href="">Music Gear</a>
    </div>
  </header>